body{
    background-color: lightblue;
    text-align: center; 
    /* text align will center any text in our body
    in our case it succesfully centers the cloud */
}

.wrapper{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

img{
    transform: rotateY(190deg)
    /* * 90 degress is not visible, you want to go higher or lower */
    /* * X AXIS LEFT TO RIGHT */
    /* * Y AXIS UP AND DOWN */
    /* ! NO ROTATION IS ACTUALLY HAPPENING HERE. IT WILL SIMPLY ROTATE TO 
    ! IT SKIPS TO THAT DEG AND STOPS THERE*/
    /* * ROTATE Z */
    /* works clockwise/counterclockwise and 90DEG works here */
}